/******************************************
/* HOT GARBAGE - PLEASE DON'T MIMIC THIS CSS
/*******************************************/
* {
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
h1, h2 {
  text-align: center;
}

img {
  display: block;
  height: 400px;
  margin: 0 auto;
}

ul {
  width: 98px;
  height: 264px;
  margin: 0 auto;
  list-style: none;
  padding: 0;
  border: 2px solid black;
}

li {
  width: 94px;
  height: 65px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
#seaside {
  background: rgba(232, 214, 203, 1);
}

#teak {
  background: rgba(166, 145, 92, 1);
}

#bluemine {
  background: rgba(30, 81, 123, 1);
}

#lightwood {
  background: rgba(130, 94, 92, 1);
}